<section data-ng-controller="InspectionsController">

    <div style="height: 30px;"></div>

    <!--<div class="col-lg-12">
        <form method="post">
            <div class="form-group" show-errors>
                <label for="category">Category</label>
                <input type="text" id="category" name="category" class="form-control" ng-model="category" placeholder="Add Category" required>
                <div ng-messages="passwordForm.currentPassword.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Your current password is required.</p>
                </div>
            </div>

        </form>

    </div>-->

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">

                <select id="cboCategoryList" class="form-control" name="account">
                    <option>Exterior</option>
                    <option>Roofing</option>
                </select>
            </div>




            <style>
                .speed-entry-button {
                    font-size: 25px;
                }

                .speed-entry-input {
                    width: 75%;
                }

                .speed-entry-input-topper {
                    background-color: #ddd;
                }
            </style>
            <form method="post" name="vm.form.inspectionForm">
                <div class="panel-body">
                    <div class="speed-entry-input-topper">
                        <div class="m-l m-r" style="padding: 10px 0 10px 0;">
                            <input type="text" class="form-control speed-entry-input pull-left" value="Doors" />
                            <span class="pull-right text-muted small">
                                <a href="#" class="speed-entry-button m-xs m-r-none"><i class="fa fa-plus-square-o"></i></a>
                            </span>
                            <span class="clearfix"></span>
                        </div>
                    </div>


                    <style>
                        .ddd {
                            padding-left: 25px;
                        }




                        .link-badge {
                            float: right;
                        }

                            .link-badge i {
                                font-size: 25px;
                            }

                            .link-badge div {
                                margin: 5px 15px 0px 7px;
                            }

                        div + span.badge {
                            position: relative;
                            top: -35px;
                            left: 7px;
                            font-size: 10px;
                        }
                    </style>




                    <div class="list-group">
                        <div class="list-group-item">
                            <input type="text" class="form-control speed-entry-input pull-left" value="Doors" />
                            <div class="pull-right text-muted small">
                                <a href="#" class="speed-entry-button m-xs">
                                    <i class="fa fa-square-o"></i>
                                </a>
                                <a href="#" class="speed-entry-button m-xs">
                                    <i class="fa fa-floppy-o"></i>
                                </a>
                                <a href="#" class="speed-entry-button m-xs m-r-none">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                                <a class="link-badge" href="#">
                                    <div>
                                        <i class="fa fa-arrow-down"></i>
                                    </div>
                                    <span class="badge badge-success pull-right">99</span>
                                </a>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                        <!--<div class="media">
                    <a class="pull-left" href="#">
                        <div style="width:64px;height:64px;background-color:black;">
                            d
                        </div>
                        <span class="badge badge-success pull-right">2</span>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        My content
                    </div>
                </div>-->

                        <div class="list-group-item">
                            <input type="text" class="form-control speed-entry-input pull-left" value="Windows" />
                            <div class="pull-right text-muted small">
                                <a href="#" class="speed-entry-button m-xs">
                                    <i class="fa fa-check-square"></i>
                                </a>
                                <a href="#" class="speed-entry-button m-xs">
                                    <i class="fa fa-floppy-o"></i>
                                </a>
                                <a href="#" class="speed-entry-button m-xs m-r-none">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <a class="link-badge" href="#">
                                    <div>
                                        <i class="fa fa-arrow-up"></i>
                                    </div>
                                    <span class="badge badge-success pull-right">2</span>
                                </a>
                            </div>
                            <span class="clearfix"></span>

                            <ul class="list-group ddd">
                                <li class="list-group-item">
                                    <span class="badge">14</span>
                                    Cras justo odio
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">14</span>
                                    Cras justo odio
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">14</span>
                                    Cras justo odio
                                </li>
                            </ul>
                        </div>
                    </div>

                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
            </form>
        </div>

    </div>
    <div class="col-lg-6">
        <h5>{{vm.templates}}</h5>
    </div>




    <!--<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small">
                            <em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small">
                            <em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small">
                            <em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small">
                            <em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small">
                            <em>11:32 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                        <span class="pull-right text-muted small">
                            <em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                        <span class="pull-right text-muted small">
                            <em>10:57 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                        <span class="pull-right text-muted small">
                            <em>9:49 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Payment Received
                        <span class="pull-right text-muted small">
                            <em>Yesterday</em>
                        </span>
                    </a>
                </div>
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
        </div>-->

    </div>
</section>
